* {
  margin: 0em;
  padding: 0em;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
}
body {
  background-color: #0c0d0c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#wrapper {
  margin: auto;
  width: 1200px;
  background: linear-gradient(#d7e4cd, #19504a);
}
#inner-wrapper {
  display: flexbox;
  width: 900px;
  margin: auto;
  border: 1px;
  background-color: #1a1a1a;
  margin-top: 40px;
}
.search_block {
  background-color: #1a1a1a;
  align-items: center;
}

input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 15px 10px 15px 65px;
  box-sizing: border-box;
  background-color: #00ada7;
  color: #1a1a1a;
  border: 1px solid #00ada7;
  border-radius: 10px;
}
input[type="submit"],
button {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 20px;
  box-sizing: border-box;
  background-color: #00ada7;
  color: #1a1a1a;
  border: 1px solid #00ada7;
  border-radius: 10px;
}

#currentLocationButton {
  border-radius: 10px;
}
#gitRepoButton {
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
}
.repo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  text-align: center;
  color: #00ada7;
  padding-top: 30px;
}
h6 {
  text-align: center;
  color: #00ada7;
  padding-top: 20px;
  font-size: 30px;
}

h3 {
  color: #00ada7;
  text-align: center;
  padding-top: 20px;
  font-weight: 300;
}

.top {
  background-color: #0c0d0c;
}

.main {
  display: flex;
}
.item {
  width: calc(100% / 3);
  text-align: center;
  color: #70f5e8;
  margin-bottom: 30px;
  line-height: 28px;
}
.item h4 {
  padding-top: 160px;
  font-size: 35px;
  font-weight: 300;
}
.item h3 {
  font-size: 60px;
  font-weight: 400;
}
.item p {
  font-size: 35px;
  font-weight: 300;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 50px;
}

.col {
  display: inline-block;
  align-items: center;
  text-align: center;
  background-color: #00ada7;
  color: #0c0d0c;
  border-radius: 10px;
  width: 350px;
}
.col p {
  white-space: normal; /* Allow the text to wrap to multiple lines */
}
.col-md-4 {
  text-align: left;
  text-shadow: black;
   line-height: 18px;
}

.col-md-4 ul {
   padding-top: 15px;
   font-weight: 600;

}
.col-md-4 p {
  text-align: center;
  padding-top: 25px;
  font-weight: 600;
}  